body{
	background-color: #c9c9c980;
}
main{
	width: 25em;
	margin: 0 auto;
	border: 1px solid red;
	background-color: white;
	border: 1px solid #c8c3c3;
}
form{
	display: flex;
	flex-direction: column;

}
form button{
	width: 20em;
	margin: 4px auto 1em auto;
	padding: .4em;
	border-radius: 4px;
	background: #0077C5;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.75);
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	border: none;
	color: white;
	font-size: 1.1em;
	letter-spacing: .1em;
	outline: none;
	font-weight: 400;
	background-image: url(lock.png);
	background-repeat: no-repeat;
	background-size: .8em;
	background-position: 6.7em;
}
form label{
	margin: 0em 1.7em .6em 1.7em;
	font-size: .9em;
}
form input{
	margin: 0px 1.5em .5em 1.5em;
	padding: 4px 1.9em 4px .5em;
	border: 1px solid #C1C5C8;
	border-radius: 3px;
	outline: none;
	font-size: 1em;
}
.phone-label{
	margin: 0em 1.9em .6em 1.9em;
	color: #000000b3;
	font-size: .8em;
	font-weight: 700;
}
form input:focus{
	border:1px solid rgba(82,168,236,.8);
	box-shadow: 0 1px 1px rgba(0,0,0,.075) inset,0 0 8px rgba(82,168,236,.6);
}
form button:hover{
	background-color: #0077C5E6;
}
form button:active{
	color: rgba(255,255,255,.5);
	box-shadow: none;
}
main form #phone:empty{
		background: url(caution.png);
	background-repeat: no-repeat;
	background-size: 1.2em;
	background-position: 99%;

}
main header{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: .5em 0;
}
main header span{
	font-size: 1.4em;
	line-height: 1.1em;
	color: #000c;
}
main p{
	padding: 0 2em;
	color: #414141cc;
	font-size: 1em;
}
main a, footer a{
	color: #00c7ce;
	text-decoration: none;
}
footer p{
	font-size: .8em;
	margin: 0;
	padding: 0 1em;
}
footer{
	background-color: #cecece66;
	padding: 1.5em .7em;
}